body {
  /* background-color: rgba(80, 80, 80, 0.25); */
  /* background-image: url(https://purepng.com/public/uploads/large/purepng.com-calculatorcalculatorportable-electroniccalculationselectronicssmall-deviceelectronic-calculator-1701528343949tidvc.png); */
  background-color:green;
  background-size: 100% auto; /* fills screen and maintains ratio */
  background-repeat: no-repeat; /* stop repeat */
  color: black;
  min-width: 200px;
}

h1,
h2,
h3,
h4 {
  width: 74%;
  padding: 10px;
  margin: 0 auto;
  min-width: 200px;
}

h1 {
  background-color: ghostwhite;
  text-align: center;
  border: solid black;
  border-radius: 20px 20px 0 0; /* rounded corners at top */
  font-family: Andale Mono;
}

h2 {
  text-align: center;
  border: solid black;
  background-color: black;
}

h2.info {
  /* targeting the class 'info' in h2 */
  color: ghostwhite;
  font-family: Chalkduster;
}

h3 {
  border: solid black;
  height: 36px;
  background-color: ghostwhite;
}

h4 {
  border: solid black;
  font-size: 24px;
  background-color: darkturquoise;
}

h4 #totalCosts {
  display: flex;
  justify-content: flex-end;
}

ul {
  padding: 0;
  color: limegreen;
}

/* ~~~~~~~~~~ Input section ~~~~~~~~~~ */

.input {
  display: flex; /* make the children of .input flex items */
  flex-wrap: nowrap; /* prevent flex items from wrapping to the next line */
  width: 72%; /* match width of other sections */
  padding: 20px;
  min-width: 200px;
  justify-content: flex-start; /* start from the left edge */
  border: solid black;
  margin: 0 auto; /* order: ~Top~, ~Right~, ~Bottom~, ~Left~ */
  background-color: black;
}

.input input[type="text"] {
  /* targets the input fields */
  width: 75%; /* adjust this for size */
  flex: 1; /* distributes available space equally among input fields */
  margin-right: 10px;
  height: 50px;
  font-size: 18px;
}

/* ~~~~~~~~~~ Delete button ~~~~~~~~~~ */

ul#employees .employee button.delete {
  /* specifically targets <ul> to <li> to <button> to <button class 'delete'> */
  background-color: ghostwhite;
  color: black;
  margin-top: 5px auto;
}

/* ~~~~~~~~~~ Appended employee table ~~~~~~~~~~ */

ul#employees .employee table {
  /* specifically targets <li> items under the <ul> with the id 'employees' */
  background-color: black;
}

li.employee {
  box-sizing: border-box;
  display: inline-block;
  width: 24%;
  margin: 25px 5px 0 0;
  border: 3px solid black;
  background-color: black;
  padding: 2% 3%;
}

ul.employees table {
  width: 100%;
  background-color: antiquewhite;
  /* border: solid black; */
}

ul.employees td {
  padding: 1%;
}

/* ~~~~~~~~~~ Monthly cost section ~~~~~~~~~~ */

#totalCosts {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;
}

.high-cost {
  background-color: red;
  color: white;
}

/* ~~~~~~~~~~ Row above input section ~~~~~~~~~~ */

.row5 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 75%;
  height: 36px;
  background-color: ghostwhite;
  border: solid black;
  font-size: 26px;
}

/* ~~~~~~~~~~ Color style ~~~~~~~~~~ */

.row1,
.row2,
.row3,
.row4 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 75%;
  margin-top: -3px;
  background-color: ghostwhite;
  border: solid black;
  border-width: 0 1px 0 1px; /* to remove top and bottom borders */
}

.row4 {
  height: 75px;
  font-size: 26px;
  border-width: 0 1px 1px 1px;
  border-radius: 0 0 25px 25px; /* rounded corners at bottom */
}

.bottom {
   margin-top: 15px;
}

.number1,
.number4,
.number7 {
  background-color: black;
}

.number2,
.number5,
.number8 {
  background-color: black;
}

.number3,
.number6,
.number9 {
  background-color: black;
}

.dot,
.plus,
.subtract {
  background-color: black;
}

.multiply,
.division {
  background-color: black;
}

.purpleB {
  height: 75px;
  width: 75px;
  margin: 20px;
  border: solid black;
  background-color: black;
}

/* ~~~~~~~~~~ 'Equals' square style ~~~~~~~~~~ */

.equal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 62px;
  margin: 0px 3px;
  border: solid black;
  background-color: darkgrey;
}

/* ~~~~~~~~~~ Submit button style ~~~~~~~~~~ */

.purpleB button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgrey;
  margin: 6px 0px 7px 3px;
  border: solid black;
  font-size: 15px;
  font-weight: bold;
  color: black;
  width: 68px;
}

.purpleB button:hover {
  background-color: red;
  color: ghostwhite;
}

/* ~~~~~~~~~~ Number squares style ~~~~~~~~~~ */

.number1,
.number2,
.number3,
.dot {
  display: inline-block;
  height: 75px;
  width: 75px;
  margin: 20px;
  border: solid black;
}

.number4,
.number5,
.number6,
.plus,
.multiply {
  display: inline-block;
  height: 75px;
  width: 75px;
  margin: 20px;
  border: solid black;
}

.number7,
.number8,
.number9,
.subtract,
.division {
  display: inline-block;
  height: 75px;
  width: 75px;
  margin: 20px;
  border: solid black;
}

/* ~~~~~~~~~~ 1,2,3, and . ~~~~~~~~~~ */

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgray;
  margin: 7px 5px; /* top/bottom , left/right */
  border: solid black;
}

#one,
#two,
#three,
#decimal {
  margin: 5px 5px; /* top/bottom , left/right */
  height: 65px;
  width: 65px;
  font-size: 30px;
}

/* ~~~~~~~~~~ 4,5,6, +, x ~~~~~~~~~~ */

#four,
#five,
#six,
#add,
#times {
  margin: 5px 5px; /* top/bottom , left/right */
  height: 65px;
  width: 65px;
  font-size: 30px;
}

/* 7,8,9, -, division */

#seven,
#eight,
#nine,
#minus,
#divide {
  margin: 5px 5px; /* top/bottom , left/right */
  height: 65px;
  width: 65px;
  font-size: 30px;
}
