body {
  background-color: rgba(80, 80, 80, 0.25);
  background-image: url(https://purepng.com/public/uploads/large/purepng.com-calculatorcalculatorportable-electroniccalculationselectronicssmall-deviceelectronic-calculator-1701528343949tidvc.png);
  background-size: 100% auto; /* fills screen and maintains ratio */
  background-repeat: no-repeat; /* stop repeat */
  color: black;
  min-width: 200px;
}

h1,
h2,
h3,
h4 {
  width: 75%;
  padding: 10px;
  margin: 0 auto;
  min-width: 200px;
}

h1 {
  background-color: ghostwhite;
  text-align: center;
}

h2 {
  text-align: right;
  border: solid black;
}

h3 {
  border: solid black;
}

h4 {
  border: solid black;
  font-size: 24px;
}

h4 #totalCosts {
  display: flex;
  justify-content: flex-end;
}

ul {
  padding: 0;
  color: lawngreen;
}

/* ~~~~~~~~~~ Input section ~~~~~~~~~~ */

.input {
  display: flex; /* make the children of .input flex items */
  flex-wrap: nowrap; /* prevent flex items from wrapping to the next line */
  width: 73%; /* match width of other sections */
  padding: 20px;
  min-width: 200px;
  justify-content: flex-start; /* start from the left edge */
  border: solid black;
  margin: 10px auto 10px; /* order: ~Top~, ~Right~, ~Bottom~, ~Left~ */
}

.input input[type="text"] {
  width: 75%; /* adjust this for size */
  flex: 1; /* distributes available space equally among input fields */
  margin-right: 10px;
  height: 50px;
}

/* ~~~~~~~~~~ Delete button ~~~~~~~~~~ */

ul#employees .employee button.delete {
  /* specifically targets <ul> to <li> to <button> to <button class 'delete'> */
  background-color: black;
  color: white;
  margin-top: 5px auto;
}

/* ~~~~~~~~~~ Appended employee table ~~~~~~~~~~ */

ul#employees .employee table {
  /* specifically targets <li> items under the <ul> with the id 'employees' */
  background-color: black;
}

li.employee {
  box-sizing: border-box;
  display: inline-block;
  width: 24%;
  margin: 25px 5px 0 0;
  border: 3px solid black;
  background-color: white;
  padding: 2% 3%;
}

ul.employees table {
  width: 100%;
  background-color: antiquewhite;
  /* border: solid black; */
}

ul.employees td {
  padding: 1%;
}

/* ~~~~~~~~~~ Monthly cost section ~~~~~~~~~~ */

#totalCosts {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;
}

.high-cost {
  background-color: red;
  color: white;
}

/* ~~~~~~~~~~ Color style ~~~~~~~~~~ */

.row1,
.row2,
.row3 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 75%;
  background-color: aliceblue;
  border: solid black;
}

.number1,
.number4,
.number7 {
  background-color:black;
}

.number2,
.number5,
.number8 {
  background-color: yellow;
}

.number3,
.number6,
.number9 {
  background-color: blue;
}

.dot,
.plus,
.subtract {
  background-color: green;
}

.multiply,
.division {
  background-color: blueviolet;
}

.purpleB {
  height: 75px;
  width: 75px;
  margin: 20px;
  border: solid black;
  background-color: black;
}

/* ~~~~~~~~~~ 'Equals' square style ~~~~~~~~~~ */

.equal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 74px;
  margin: 1px -2px;
  border: solid black;
  background-color: ghostwhite;
}

/* ~~~~~~~~~~ Submit button style ~~~~~~~~~~ */

.purpleB button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: ghostwhite;
  /* font-family: Chalkduster; */
  margin: 5px 0px 5px -2px;
  border: solid black;
  font-size: 18px;
  font-weight: bold;
}

/* ~~~~~~~~~~ Number squares style ~~~~~~~~~~ */

.number1,
.number2,
.number3,
.dot {
  display: inline-block;
  height: 75px;
  width: 75px;
  margin: 20px;
  border: solid black;
}

.number4,
.number5,
.number6,
.plus,
.multiply {
  display: inline-block;
  height: 75px;
  width: 75px;
  margin: 20px;
  border: solid black;
}

.number7,
.number8,
.number9,
.subtract,
.division {
  display: inline-block;
  height: 75px;
  width: 75px;
  margin: 20px;
  border: solid black;
}

/* ~~~~~~~~~~ 1,2,3, and . ~~~~~~~~~~ */

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: ghostwhite;
  margin: 7px 5px; /* top/bottom , left/right */
  border: solid black;
}

#one,
#two,
#three,
#decimal {
  margin: 5px 5px; /* top/bottom , left/right */
  height: 65px;
  width: 65px;
  font-size: 24px;
}

/* ~~~~~~~~~~ 4,5,6, +, x ~~~~~~~~~~ */

#four,
#five,
#six,
#add,
#times {
  margin: 5px 5px; /* top/bottom , left/right */
  height: 65px;
  width: 65px;
  font-size: 24px;
}

/* 7,8,9, -, division */

#seven,
#eight,
#nine,
#minus,
#divide {
  margin: 5px 5px; /* top/bottom , left/right */
  height: 65px;
  width: 65px;
  font-size: 24px;
}
